@import "../../App.scss";

.category-container {
  .header-category {
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .title-category {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .list-category-container {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 10px;
  }
}
.category-detail-container {
  .category_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    h4{
      margin-left: 10px;
    }
  }
  .category-info {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    .button-edit-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}
